.mydiv {
    background-color: #44f4f4;
    width: 285px;
    height: 130px;
    display: flex;
    flex-direction: column;
  }
  
  
  .stop-btn {
    background-color: 'red';
  }

  .go-btn {
      background-color: 'green';
  }